@{  
    var titulo = "Pruebas en ASP";
    string comentario = "Corriendo ASP";
    int numeroDeVisitantes = 0;
    DateTime hoy = DateTime.Now;
    string version = "version ";
    string idVersion = "1.7";
    int edad = 17;
    string[] ciudad = new string[] { "Canada","Berlin","Marruecos"};
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@titulo</title>
    <meta charset="utf-8" />
    <style type="text/css">
        *{
            font-family: 'Century Gothic',Arial;
            background-color: #f2f2f2;
            color: #5c5c5c;
        }
        .dia{
            color:#ffffff;
            width:25px;
            height:25px;
            border: 0px solid gray;
            float:left;
        }

        .fondoDia1{
            background-color: #238abe;
        }
        div .fondoDia1:hover{
            background-color: #196185;
        }
        .fondoDia2{
            background-color: #ffa400;
        }
        div .fondoDia2:hover{
            background-color: #cf8603;
        }

        .Verdadero{
            color:#228d16;
        }
        .Falso{
            color:#ff003e;
        }

    </style>
</head>
<body>
    <div>
        <h1>@comentario</h1>
        <p>Numero de visitas: @(numeroDeVisitantes+2)</p>
        <p>Fecha: @hoy</p>
        <p>La suma de 17 + 3 es: @(17+3)</p>
        <p>Informacion de la aplicacion web: @(version+idVersion)</p>
        <h3>Calendario</h3>
        @for (var n = 1; n < 32; n++)
        {
            if (n == 7 || n==14 || n==21 || n==28)
            {
                <div class="dia fondoDia2">@n</div>
                <div style="clear: both;"></div>
            }
            else
            {
                <div class="dia fondoDia1">@n</div>
            }
        }
        <div style="clear: both;"></div>
        <br/><br />
        @if (edad >= 18)
        {
            <div class="Verdadero">Eres mayor de edad</div>
        }else
        {
            <div class="Falso">Aun no eres mayor de edad</div>
        }
        <h3>Destinos disponibles</h3>
        <!--Para cada ciudad pasar valor IN y-->
        @foreach (var y in ciudad) 
        {
            <p>@y</p>
        }
        <!--<lu>
            <li>ciudad[0]</li>
            <li>ciudad[1]</li>
            <li>ciudad[2]</li>
        </lu>
        -->
        <p>Vuelo 1 sale el Dia @DateTime.Now.Day del Mes @DateTime.Now.Month del Año @DateTime.Now.Year</p>
       
    </div>
</body>
</html>
